<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "me.9ga.officeapp"
        versionCode ="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Employee Directory</name>

    <description>
        Simple employee directory.
    </description>

    <author href="http://coenraets.org" email="ccoenraets@gmail.com">
        Ahmed Farooki 
    </author>

    <preference name="webviewbounce" value="false" />

    <access origin="*" />

</widget>
